@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'pp';
  src: url('/fonts/pp.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'pp';
  src: url('/fonts/pp-semibold.woff2') format('woff2');
  font-weight: semibold;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-end-rgb: 255, 254, 252;
  --background-start-rgb: 252, 248, 237;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  font-family: 'pp', sans-serif;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.highlight {
  background: url(/pen-brushes.svg);
}